body{
    font-family: 'Montserrat', sans-serif;
}
img{
    width: 200px;
    height: 200px;
    padding: 20px;
    border-radius: 15%;
    cursor: pointer;
    transition: 0.05s;
    margin: 20px;
   
}

img:hover{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

/* #Rock{
    border: 3px solid #14d4e5;
}

#Paper{
    border: 3px solid #6cd37c;
}

#Scissor{
    border: 3px solid #e76cd9;
} */



.container{

    margin: 10px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 300px;
    
}

.results-container{
    margin: auto;
    text-align: center;
}

.head-top{
    margin: 10px auto;
    text-align: center;
    margin: 3rem;
    justify-content: center;
}

.score-container{
    margin: 10px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.new-game{
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 10em;
  will-change: transform;
  }
  .new-game:disabled {
    pointer-events: none;
  }
  
  .new-game:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .new-game:active {
    box-shadow: none;
    transform: translateY(0);
  }   

  li{
      list-style-type: none;
  }

  footer{
      margin-top: 200px;
      text-align: center;
  }

span{
    color:red
}

.game-round{
padding :10px;
}